

/*INTRO : FEATURED WORKS*/
/*.intro:hover{
            cursor: url("../images/drag.png") 40 40, crosshair;
            -webkit-transition: all .4s ease-in-out;
               -moz-transition: all .4s ease-in-out;
                -ms-transition: all .4s ease-in-out;
                 -o-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
}*/

@media (max-width: 768px) {
.featured-work-caption, .featured-work-caption span, 
    .personal-intro-caption, .personal-intro-caption span, .works-item-inner h3 > span,
    .photography-intro-caption, .fullscreen-intro-caption > span, .fullscreen-intro-caption, 
    .footcaps h4, .photography-intro-caption, .main-heading, .features-inner h3, .service-icon h4,
    .team-members h3{
        font-size: 16px !important;
        line-height: 23px !important;
    } 

  }

@media screen and (max-width: 480px) {
    .featured-work-caption, .featured-work-caption span, 
    .personal-intro-caption, .personal-intro-caption span, .works-item-inner h3 > span,
    .photography-intro-caption, .fullscreen-intro-caption > span, .fullscreen-intro-caption, 
    .footcaps h4, .photography-intro-caption, .main-heading, .features-inner h3, .service-icon h4,
    .team-members h3{
        font-size: 14px !important;
        line-height: 24px !important;
    } 
}

section.mastwrap{
  position: relative;
  z-index: 2;
}
.back-frame-wrap {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    vertical-align: middle;
    width: 100%;
    z-index: 1;
    position: fixed;
}

.works-container{
    padding: 0;
  margin: 70px auto 0 auto;
  overflow: hidden;
}

.works-masonry-container{
    padding: 0;
  margin:0px !important;
}

.intro .tp-bullets{
  padding: 25px;
  padding-right: 22px;
  cursor: pointer;
            -webkit-transition: all .4s ease-in-out;
               -moz-transition: all .4s ease-in-out;
                -ms-transition: all .4s ease-in-out;
                 -o-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
}
.intro .tp-bullets:hover{
            -webkit-transform: scale(1.8); 
            -moz-transform: scale(1.8); 
             -ms-transform: scale(1.8); 
            -o-transform: scale(1.8); 
            transform: scale(1.8); 
            -webkit-transition: all .4s ease-in-out;
               -moz-transition: all .4s ease-in-out;
                -ms-transition: all .4s ease-in-out;
                 -o-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
}
.intro .tp-bullets.simplebullets.round .bullet::before{
  background-color: #000;
}
.intro .tp-bullets.simplebullets.round .bullet.selected{
  border-color: #000;
}
.intro.no-drag{
  cursor: default !important;
}


.fullscreen-intro-caption{
  font-size: 32px;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.fullscreen-intro-caption > span{
  display: block;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 8px;
  padding: 10px;
  margin-top: 10px;
}
/* 6. Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.add-top{
  margin-top: 120px;
}
.add-top-half{
  margin-top: 60px;
}
.add-top-quarter{
  margin-top: 30px;
}
.add-bottom{
  margin-bottom: 120px;
}
.add-bottom-half{
  margin-bottom: 60px;
}
.add-bottom-quarter{
  margin-bottom: 30px;
}
.pad{
  padding: 60px;
}
.pad-top{
  padding-top: 120px;
}
.pad-top-half{
  padding-top: 60px;
}
.pad-top-quarter{
  padding-top: 30px;
}
.pad-bottom{
  padding-bottom: 120px;
}
.pad-bottom-half{
  padding-bottom: 60px;
}
.pad-bottom-quarter{
  padding-bottom: 30px;
}
.remove-top{
  margin-top: 0 !important;
}
.ease{
            -webkit-transition: all .4s ease-in-out;
               -moz-transition: all .4s ease-in-out;
                -ms-transition: all .4s ease-in-out;
                 -o-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
}
.ease:hover{
            -webkit-transition: all .4s ease-in-out;
               -moz-transition: all .4s ease-in-out;
                -ms-transition: all .4s ease-in-out;
                 -o-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
}
.img-bg{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

    
/*LESS Compiled to CSS (for production use only) - please refer to PDF guide for more info*/
.color{color:#00f9cf}.white{color:#fff}.silver{color:#f8f8fa}.grey{color:#ccc}.dark{color:#232323}.black,a{color:#121212}.color-bg{background-color:#00f9cf}.white-bg{background-color:#fff}.silver-bg{background-color:#f8f8fa}.grey-bg{background-color:#ccc}.dark-bg{background-color:#232323}.black-bg{background-color:#121212}.font1{font-family:'Istok Web',sans-serif}.font2{font-family:montserrat,sans-serif}.font2hairline{font-family:montserrathairline,sans-serif}.font2ultralight{font-family:montserratultra_light,sans-serif}.font2light{font-family:montserratlight,sans-serif}.font2semibold{font-family:montserratsemi_bold,sans-serif}.font2bold{font-family:montserratbold,sans-serif}.font2extrabold{font-family:montserratextra_bold,sans-serif}.font2black{font-family:montserratblack,sans-serif}.font3{font-family:Raleway,sans-serif}
